
.Filtro {
    display: flex;
    padding: 10px;
    gap: 10px;
    border: 1px solid #6c757d;
    background-color: #6c757d;
    width: fit-content;
    margin: 10px 20px 20px auto;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    color: #fff;
    
}

.boton-filtro {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.icono-filtro {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}